<div class="post-rating-modal">
  <div class="rating-content rating-content-div">
    <div class="rate-note-stars" (mouseleave)="hoverOut()">
      <ng-container *ngFor="let number of [1, 2, 3, 4, 5]">
        <div class="star" (click)="setRating(number)">
          <i
            class="bi bi-star-fill"
            [ngClass]="number <= this.rating ? 'yellow' : 'grey'"
            (mouseenter)="hoverIn(number)"
          ></i>
        </div>
      </ng-container>
    </div>
    <div class="rating-numbers">
      <div class="rating-note">4.0</div>
      <div class="rating-quantity">(8 ratings)</div>
    </div>
  </div>
  <div class="share-content rating-content-div">
    <div class="rating-icon">
      <i class="bi bi-share-fill"></i>
    </div>
    <div class="rating-subtitle">Share</div>
  </div>
  <div class="save-content rating-content-div">
    <div class="rating-icon">
      <i class="bi bi-pin-angle-fill"></i>
    </div>
    <div class="rating-subtitle">Save post</div>
  </div>
  <div class="contact-content rating-content-div">
    <div class="rating-icon">
      <i class="bi bi-envelope-fill"></i>
    </div>
    <div class="rating-subtitle">Contact creator</div>
  </div>
</div>
