<ion-content>
  <ion-row style="margin: 1rem;">
    <ion-col>
      <div class="header">
        <i class="far fa-laugh-beam"></i>
        <div class="title">
          <span style="color: #565555; font-size: 16px;">XGrowth 2.0 is here!</span>
          <br />
          <span style="font-size: 13px;">You need a new password to access</span>
        </div>
      </div>
      <div class="body">
        <span
          >We sent you an email with the instructions to create a new password. Don't worry, you won't lose anything
          from your old account</span
        >
      </div>
      <div class="actions col text-center">
        <ion-button shape="round" (click)="ok()">OK</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
