<ion-content #contentArea>
  <div class="webinars-admin">
    <div class="webinars-head container">
      <div class="row mt-4 mb-3">
        <div class="col-12 col-md-8 p-0 d-flex align-items-center">
          <span class="text-uppercase font-weight-bold">Webinars</span>
          <button id="webinars-refresh" fill="clear" color="dark" class="refresh-button" (click)="fetchWebinars()">
            <i class="bi bi-arrow-repeat"></i>
          </button>
        </div>
        <!--Mobile-->
        <ng-container *ngIf="isApp">
          <button class="tooltip-webinars" (click)="toggleTooltipInfo()">
            <i class="fas fa-info-circle"></i>
          </button>
          <div class="col-10 col-md-8 d-flex">
            <p *ngIf="showTooltipInfo" class="tooltip-text">
              Webinars Page allow you to edit webinars status, information and visualize guest-list.
            </p>
          </div>
        </ng-container>
        <div class="col-12 col-md-4 d-flex align-items-center">
          <ion-searchbar
            id="webinars-searchbar"
            animated
            (keyup.enter)="applyFilter($event.target.value)"
            (ionClear)="applyFilter(null)"
          ></ion-searchbar>
        </div>
      </div>

      <!--Desktop-->
      <ng-container *ngIf="!isApp">
        <button class="tooltip-webinars" (click)="toggleTooltipInfo()">
          <i class="fas fa-info-circle"></i>
        </button>
        <div class="col-10 col-md-8 d-flex">
          <p *ngIf="showTooltipInfo" class="tooltip-text">
            Webinars Page allow you to edit webinars status, information and visualize guest-list.
          </p>
        </div>
      </ng-container>
    </div>
    <div *ngIf="skeletonLoading">
      <app-skeleton [skeleton]="'companies'"></app-skeleton>
    </div>
    <ion-grid class="webinar-list container" *ngIf="!skeletonLoading">
      <div class="table-item row">
        <div class="col-12 col-md-6 p-0"></div>
        <div class="col-4 col-md-2 d-flex align-items-center justify-content-center">
          <p>Guest list</p>
        </div>
        <div class="col-4 col-md-2 d-flex align-items-center justify-content-center">
          <p>Status</p>
        </div>
        <div class="col-4 col-md-2 d-flex align-items-center justify-content-center">
          <p>Edit</p>
        </div>
      </div>
      <div class="table-item row" *ngFor="let item of webinars">
        <div class="col-12 col-md-6 p-0 webinar-main">
          <a id="webinars-review" (click)="reviewWebinar(item)">
            <h5>{{ item?.title }}</h5>
          </a>
          <span class="not-published-tag" *ngIf="!item?.isPublished">Not published!</span>
          <p>{{ item?.createdBy?.company?.organization?.name }}</p>
          <p>Event date: {{ item?.eventDate | date }}</p>
        </div>
        <div class="col-4 col-md-2 guest-list">
          <button id="webinars-open-guest" (click)="openGuestList(item)"><i class="bi bi-card-list"></i></button>
        </div>
        <div
          class="col-4 col-md-2 review-status"
          [ngClass]="{
            pending: item.reviewStatus === 'pending',
            approved: item.reviewStatus === 'approved',
            denied: item.reviewStatus === 'denied'
          }"
        >
          <mat-form-field id="webinars-status" [hideRequiredMarker]="false" *ngIf="item.editingStatus">
            <mat-select [value]="item.reviewStatus" (selectionChange)="changeStatus($event, item)">
              <mat-option *ngFor="let rStatus of reviewStatuses" [value]="rStatus">
                {{ rStatus }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div
            *ngIf="!item.editingStatus"
            [ngStyle]="{ opacity: !item.isPublished ? '0.6' : '1' }"
            class="status-show d-flex align-items-baseline justify-content-between"
          >
            <p id="webinars-edit-status" (click)="startStatusEdit(item)">
              {{ item?.reviewStatus }} <i class="bi bi-pencil-fill"></i>
            </p>
          </div>
        </div>
        <div class="col-4 col-md-2 edit-webinar">
          <button id="webinars-edit" (click)="editWebinar(item._id)"><i class="bi bi-pencil-fill"></i></button>
        </div>
      </div>
    </ion-grid>
  </div>
</ion-content>
