<div class="dialog-container">
  <div class="header-div">
    <i class="fas fa-key"></i>
    <div class="header-text">
      <span>
        Account Activation
      </span>
    </div>
  </div>
  <div class="body-div">
    <div class="body-text">
      <div class="line">
        <span>
          Successfully activated account
        </span>
      </div>
      <div class="line">
        <span>
          {{ email }}
        </span>
      </div>
      <div class="line">
        <span>
          You may now log into XGrowth!
        </span>
      </div>
    </div>
  </div>
  <div class="actions-div">
    <ion-button color="primary" (click)="confirm()">OK</ion-button>
  </div>
</div>
