<ion-content>
  <ion-row style="margin: 1rem;">
    <ion-col>
      <div class="login-form">
        <form *ngIf="!formSent" id="form-login" (ngSubmit)="submit()" [formGroup]="passwordForm">
          <div class="login-subtitle pt-2">
            <h6>Enter your e-mail to receive a recovery link</h6>
          </div>

          <div class="main-step">
            <div class="login-textinput">
              <input type="text" name="email" formControlName="email" placeholder="email" />
            </div>
          </div>

          <div>
            <a class="login-next" (click)="submit()">
              <div class="button-text">
                <label for="button-proceed"><p>Reset password</p></label>
              </div>
              <input type="button" id="login-next-input" name="button-proceed" />
            </a>
          </div>
        </form>

        <!-- <div class="back-login">
          <a routerLink="/login">Back to Login </a>
        </div> -->
      </div>
      <!-- <div class="header">
        <i class="far fa-laugh-beam"></i>
        <div class="title">
          <span style="color: #565555; font-size: 16px;">XGrowth 2.0 is here!</span>
          <br />
          <span style="font-size: 13px;">You need a new password to access</span>
        </div>
      </div> -->
      <div *ngIf="formSent" class="body">
        <span>We sent you an email with the instructions to create a new password.</span>
      </div>
      <div *ngIf="formSent" class="login-next col text-center">
        <ion-button shape="round" (click)="ok()">OK</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
