.header {
  margin-top: 1.5rem;
  text-align: center;
  i {
    color: #70c1ed;
    font-size: 2rem;
  }
  .title {
    font-weight: bold;
    margin-top: 1rem;
  }
}
.body {
  margin-top: 1rem;
  padding-bottom: 1rem;
  font-size: 13px;
  color: #565555;
  text-align: center;
}
.actions {
  margin-bottom: 1rem;
  display: inline-flex;
  ion-button {
    margin: auto;
    --background: #f6a117;
    color: white;
    text-transform: none;
    --box-shadow: none;
  }
}

@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";
body {
  line-height: 0px;
}

a {
  text-decoration: none;
  color: #2185d0;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  z-index: 3;
}

.login-container {
  left: 0px;
  width: 100%;
  min-height: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: transparent linear-gradient(180deg, #f8fafb 0%, #e3fddc 100%) 0% 0% no-repeat padding-box;
  // background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  z-index: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 2;
}

.login-main {
  width: 100%;
}

/* LOGIN HEADER */

.login-header {
  display: flex;
  justify-content: center;
}

.lang-switch {
  z-index: 3;
  margin-right: 3em;
  padding: 35px 40px 55px 40px;
}

/* LOGIN HEADER */

.page-center {
  display: flex;
  flex-direction: column;
  /* min-height: 100%; */
  height: auto;
}

.login-form-component {
  display: flex;
  justify-content: center;
  z-index: 3;
}

.logo-growin {
  display: flex;
  margin: 50px 35px;
}

.logo-growin img {
  width: 140px;
  height: auto;
}

.hidden {
  display: none !important;
}

.terms {
  text-align: center;
  font-size: 14px;
  z-index: 3;
  margin-top: 17px;
}

.outside-line {
  border-top: 1px solid #c7c7c7;
  border-bottom: transparent;
  border-right: transparent;
  border-left: transparent;
}

/* FOOTER */

.login-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 2em;
  margin-top: auto;
  margin-bottom: 50px;
}

.logo-growin-footer .container {
  text-align: center;
}

.logo-growin-footer p {
  font-size: 12px;
  text-align: center;
}

.logo-growin-footer img {
  width: 90px;
  height: auto;
}

.imagens-plataformas {
  text-align: center;
  margin-bottom: 20px;
  img {
    width: 100px;
    max-height: 50px;
  }
}

/* FOOTER */

@media (max-width: 450px) {
  .lang-switch {
    margin: 0px;
    padding: 0px;
    z-index: 4;
  }

  .logo-growin {
    margin: 20px 0px 30px 0px;
    justify-content: center;
  }

  .imagens-plataformas img {
    max-width: 45%;
    max-height: 30px;
  }

  .outside-line {
    width: 100%;
  }
}

@media (min-width: 91px) {
  body {
    padding: 0px !important;
  }
}

.loader {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

a {
  text-decoration: none;
  color: #2185d0;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.login-form {
  width: 100%;
  height: auto;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}

.login-title {
  text-align: center;
  width: 100%;
  color: #45443f;
  padding-top: 35px;
}

.login-subtitle {
  font-size: 15px;
  text-align: center;
  width: 100%;
  color: #45443f;
}

.login-subtitle h6 {
  font-size: 14px;
  line-height: 1.4rem;
  text-align: center;
}

.login-title h3 {
  font-size: 18px;
  font-weight: bold;
}

.login-textinput {
  display: flex;
  justify-content: center;
  border: 1px solid #c7c7c7;
  border-radius: 50px;
  height: 40px;
}

.company-website {
  margin-top: 0px;
  margin-bottom: 20px;
}

.login-textinput input {
  border: 1px solid transparent;
  width: 100%;
  text-indent: 25px;
  border-radius: 61px;
  &:-webkit-autofill::first-line,
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    font-family: "Open Sans", sans-serif !important;
    font-size: 18px;
  }
}

.wrong-password {
  border: 1px solid #e52222;
}

.message-wrong-psw {
  color: #e52222;
  text-align: right;
  margin: 0px 20px 0px 0px;
  font-size: 10px;
}

.message-wrong-psw p {
  margin: 0px 64px 0px 0px;
}

.forgot-password p {
  margin-top: 0px;
}

.login-textinput img {
  max-width: 20px;
  max-height: 18px;
}

.login-textinput a {
  width: 20px;
  display: flex;
  align-items: center;
}

.login-password a {
  text-align: center;
  font-size: 14px;
}

::placeholder {
  color: #c7c7c7;
  font-family: "Open Sans", sans-serif;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #c7c7c7;
  font-family: "Open Sans", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c7c7c7;
  font-family: "Open Sans", sans-serif;
}

.register-field {
  display: flex;
  justify-content: center;
  margin: 0px 40px 20px 40px;
  border: 1px solid #c7c7c7;
  border-radius: 50px;
  height: 40px;
}

.register-field input {
  border: 1px solid transparent;
  width: 75%;
}

.register-field select {
  border: 1px solid transparent;
  width: 90%;
  background: transparent;
}

.last-step label p {
  font-size: 12px;
  margin: 0px 0px 2px 50px;
}

.no-account {
  display: flex;
  justify-content: center;
}

.no-account p {
  text-align: center;
  width: 70%;
  font-size: 14px;
}

.hidden {
  display: none !important;
}

.login-next {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: default;
}

.login-next input {
  border: 1px solid transparent;
  border-radius: 50px;
  height: 40px;
  width: 80%;
  margin: 2px 0px;
  background: #f6a117;
  cursor: pointer;
}

.login-next .button-text:hover ~ #login-next-input {
  background: #f6a117;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
}

.login-next input:hover {
  background: #f6a117;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
}

.button-text {
  position: absolute;
  height: 40px;
  margin-top: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.button-text p {
  color: white;
  margin: 0px;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}

.inside-line {
  border-top: 1px solid #c7c7c7;
  border-bottom: transparent;
  border-right: transparent;
  border-left: transparent;
  width: 75%;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

.create-account {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
}

.create-account .container {
  text-align: center;
}

.create-account p {
  text-align: center;
  font-size: 12px;
}
.create-account a {
  font-size: 14px;
}

.back-login {
  text-align: center;
  padding-bottom: 30px;
}

.divider {
  width: 29%;
  border-top: 1px solid #c7c7c7;
  margin: 23px auto;
}

@media (max-width: 450px) {
  .login-form {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0px;
  }
}

@media (max-height: 650px) {
  .login-form {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
