<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="header">
          <div class="title">
            <span [translate]="'briefs.respond.declineThis'"></span>
          </div>
          <div class="text">
            <ion-label [translate]="'briefs.respond.youWont'"></ion-label>
            <ion-label [translate]="'briefs.respond.undo'"></ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <div class="actions">
      <ion-button
        shape="round"
        fill="outline"
        style="color: #70C1ED;
          margin-right: 1rem;
          text-transform: none;
          --border-color: #70C1ED;
          --border-width: 1px"
        (click)="onCancel()"
      >
        <span [translate]="'global.actions.cancel'"></span>
      </ion-button>
      <ion-button
        shape="round"
        style="--background: #F6A117; 
          color: white;
          text-transform: none;
          --box-shadow: none;"
        (click)="onDecline()"
      >
        <span [translate]="'briefs.respond.decline'"></span>
      </ion-button>
    </div>
  </ion-grid>
</ion-content>
