<ion-content no-bounce>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center ion-no-padding">
      <ion-col size-sm="8" size-lg="6" size-xl="4" align-self-center no-padding>
        <div class="page-header">
          <div class="header-title">
            {{ header }}
          </div>
        </div>
        <div class="wizard-container">
          WIZARD GOES HERE
        </div>
        <div class="step-information">
          3. Company Capabilities
        </div>
        <form (ngSubmit)="register()" [formGroup]="registerForm" novalidate>
          <ion-list>
            <label class="input-label">Year of Establishment</label>
            <mat-form-field style="padding-bottom: 1rem;">
              <input type="text" matInput formControlName="name" required />
              <mat-error *ngIf="registerForm.controls.name.invalid && registerForm.controls.name.touched">
                <span translate>Name is required</span>
              </mat-error>
            </mat-form-field>
            <label class="input-label">Number of Employees</label>
            <mat-form-field style="padding-bottom: 1rem;">
              <input type="text" matInput formControlName="name" required />
              <mat-error *ngIf="registerForm.controls.name.invalid && registerForm.controls.name.touched">
                <span translate>Name is required</span>
              </mat-error>
            </mat-form-field>
            <label class="input-label">Exportation Expertise</label>
            <mat-form-field style="padding-bottom: 1rem;">
              <mat-select [formControl]="toppings" multiple placeholder="Select...">
                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{ topping }}</mat-option>
              </mat-select>
            </mat-form-field>
            <label class="input-label">Annual Sales in USD</label>
            <mat-form-field style="padding-bottom: 1rem;">
              <input type="text" matInput formControlName="name" required />
              <mat-error *ngIf="registerForm.controls.name.invalid && registerForm.controls.name.touched">
                <span translate>Name is required</span>
              </mat-error>
            </mat-form-field>
            <div class="center-label">
              <label class="level-quality" text-center [translate]="'myCompany.profile.edit.levelQuality'"></label>
            </div>
            <div class="form-group">
              <div class="stepper">
                <div class="step">
                  <div>
                    <p-radioButton name="levelOfResearch" value="1"></p-radioButton>
                  </div>
                  <div class="p-1">
                    <div class="step-circle" container="body" placement="bottom">
                      1
                    </div>
                  </div>
                  <div class="step-bar-right"></div>
                </div>
                <div class="step">
                  <p-radioButton name="levelOfResearch" value="2"></p-radioButton>
                  <div class="p-1">
                    <div class="step-circle" container="body" placement="bottom">
                      2
                    </div>
                  </div>
                  <div class="step-bar-left"></div>
                  <div class="step-bar-right"></div>
                </div>
                <div class="step">
                  <p-radioButton name="levelOfResearch" value="3"></p-radioButton>
                  <div class="p-1">
                    <div class="step-circle" container="body" placement="bottom">
                      3
                    </div>
                  </div>
                  <div class="step-bar-left"></div>
                  <div class="step-bar-right"></div>
                </div>
                <div class="step">
                  <p-radioButton name="levelOfResearch" value="4"></p-radioButton>
                  <div class="p-1">
                    <div class="step-circle" container="body" placement="bottom">
                      4
                    </div>
                  </div>
                  <div class="step-bar-left"></div>
                  <div class="step-bar-right"></div>
                </div>
                <div class="step">
                  <p-radioButton name="levelOfResearch" value="5"></p-radioButton>
                  <div class="p-1">
                    <div class="step-circle" container="body" placement="bottom">
                      5
                    </div>
                  </div>
                  <div class="step-bar-left"></div>
                </div>
              </div>
            </div>
            <div class="center-label">
              <label class="level-research" text-center [translate]="'myCompany.profile.edit.levelResearch'"></label>
            </div>
            <div class="form-group">
              <div class="stepper">
                <div class="step">
                  <div>
                    <p-radioButton name="levelOfResearch" value="1"></p-radioButton>
                  </div>
                  <div class="p-1">
                    <div class="step-circle" container="body" placement="bottom">
                      1
                    </div>
                  </div>
                  <div class="step-bar-right"></div>
                </div>
                <div class="step">
                  <p-radioButton name="levelOfResearch" value="2"></p-radioButton>
                  <div class="p-1">
                    <div class="step-circle" container="body" placement="bottom">
                      2
                    </div>
                  </div>
                  <div class="step-bar-left"></div>
                  <div class="step-bar-right"></div>
                </div>
                <div class="step">
                  <p-radioButton name="levelOfResearch" value="3"></p-radioButton>
                  <div class="p-1">
                    <div class="step-circle" container="body" placement="bottom">
                      3
                    </div>
                  </div>
                  <div class="step-bar-left"></div>
                  <div class="step-bar-right"></div>
                </div>
                <div class="step">
                  <p-radioButton name="levelOfResearch" value="4"></p-radioButton>
                  <div class="p-1">
                    <div class="step-circle" container="body" placement="bottom">
                      4
                    </div>
                  </div>
                  <div class="step-bar-left"></div>
                  <div class="step-bar-right"></div>
                </div>
                <div class="step">
                  <p-radioButton name="levelOfResearch" value="5"></p-radioButton>
                  <div class="p-1">
                    <div class="step-circle" container="body" placement="bottom">
                      5
                    </div>
                  </div>
                  <div class="step-bar-left"></div>
                </div>
              </div>
            </div>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<div class="complete-registration-footer-container" *ngIf="!isLoading">
  <div class="buttons-container">
    <ion-button color="primary" (click)="back()" fill="outline">Back</ion-button>
    <ion-button color="primary" (click)="next()">Next</ion-button>
  </div>
</div>
