<ion-content>
  <div>
    <ion-row>
      <ion-col>
        <div class="header-popover-organization">
          <div class="title">
            <ion-label>
              Discard changes?
            </ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="description-popover-organization">
          <span
            >If you leave now, you will lose changes <span *ngIf="currentPage">made on {{ currentPage }} </span></span
          >
        </div>
      </ion-col>
    </ion-row>
    <div class="actions col text-center">
      <div style="margin-left: auto; margin-right: auto;">
        <ion-button
          shape="round"
          fill="outline"
          style="color: #70C1ED;
                margin-right: 0.5rem;
                text-transform: none;
                width: 100px;
                --border-color: #70C1ED;
                --border-width: 1px"
          (click)="cancel()"
        >
          Cancel
        </ion-button>
        <ion-button
          shape="round"
          style="--background: #F6A117;
                color: white;
                text-transform: none;
                width: 100px;
                --box-shadow: none;"
          (click)="discard()"
        >
          Discard
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
