@media (min-width: 1px) {
  .desktop {
    display: none;
  }
  .back {
    display: inline-flex;
    margin-top: 1rem;
    .back-button {
      top: 1rem;
      left: 1rem;
      --box-shadow: 0px;
      z-index: 1000;
      font-size: 1rem;
      --background-hover: #f6f6f6f6;
      --background: #f6f6f6f6;
      color: #f6a117;
    }
    .back-label {
      cursor: pointer;
      color: #f6a117;
      font-size: 16px;
      margin-top: 0.5rem;
    }
  }
  .header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    .accept {
      .accept-text {
        text-align: center;
        margin-top: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
      }
      .actions {
        margin-top: 1rem;
        display: table;
        margin-left: auto;
        margin-right: auto;
        .accept-button {
          --background: #f6a117;
          --box-shadow: none;
          color: white;
          margin-right: 0.5rem;
          text-transform: none;
          --box-shadow: none;
          --background-hover: #f6a117;
          --color-hover: white;
        }
        .decline-button {
          color: #70c1ed;
          text-transform: none;
          --border-width: 1px;
          --border-color: #70c1ed;
          --background-hover: #70c1ed;
          --color-hover: white;
          --box-shadow: none;
        }
      }
      .add-response {
        display: table;
        text-transform: none;
        margin-left: auto;
        margin-right: auto;
        --border-width: 1px;
        --border-color: #f6a117;
        --background-hover: #f6a117;
        --color-hover: white;
        --box-shadow: none;
      }
    }
  }
  .header-accept {
    .add-response {
      margin-bottom: 2rem;
      .accept-button {
        --background: #f6a117;
        --background-hover: #f6a117;
        --color-hover: white;
        --box-shadow: none;
        color: white;
        text-transform: none;
      }
    }
  }
  .header-decline {
    .add-response {
      .decline-button {
        --border-color: #cc2b2b;
        color: #cc2b2b;
        --border-width: 1px;
        margin-right: 1rem;
        text-transform: none;
      }
    }
  }
  .brief {
    ion-slides {
      max-height: 60%;
      height: 25rem;
      .open-gallery-button {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 2.15rem;
        margin-right: 2rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        .zoom-icon {
          color: #70c1ed;
        }
      }
      video {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    .swiper-pagination {
      position: relative;
      width: auto !important;
      left: auto !important;
      margin: 0;
    }
    .swiper-pagination-bullet {
      margin: 0 4px;
      border-radius: 100%;
      width: auto;
      width: 8px;
      height: 8px;
      display: inline-block;
      text-align: center;
      line-height: 30px;
      font-size: 12px;
      opacity: 1;
      background: #565555;
    }
    .swiper-pagination-bullet-active {
      margin: 0 4px;
      border-radius: 100%;
      width: auto;
      width: 8px;
      height: 8px;
      display: inline-block;
      text-align: center;
      line-height: 30px;
      font-size: 12px;
      opacity: 1;
      background: #f6a117;
    }
    .document {
      margin-top: 1rem;
      margin-left: 20px;
      color: #bbbbbb;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .attachments {
      margin-top: 1rem;
      margin-left: 20px;
      color: #f6a117;
      font-size: 12px;
      font-weight: bold;
    }
    .brief-information-div {
      margin-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      .brief-information-container {
        .brief-information {
          display: flex;
          .company-logo {
            cursor: pointer;
          }
          .company {
            margin-left: 0.5rem;
            display: grid;
            .company-name {
              font-size: 14px;
              color: #70c1ed;
              font-weight: bold;
              cursor: pointer;
            }
            .post-datetime {
              color: #56555566;
              font-weight: bold;
              font-size: 11px;
            }
          }
        }
      }
      .boxes {
        display: flex;
        margin-top: 1rem;
        .box-1 {
          background-color: #70c1ed;
          color: white;
          padding: 0em 1em 0.5em;
          border-radius: 0px 4px 4px 0px;
          border: 1px solid #70c1ed;
          margin-left: 0.2rem;
          // width: 50%;
          a {
            font-size: 11px;
            font-weight: bold;
            // margin: 10px 10px;
          }
        }
        .box-2 {
          border: 1px solid #70c1ed;
          background-color: white;
          color: #70c1ed;
          padding: 0em 3em 0.5em;
          border-radius: 4px;
          margin-top: 0.5rem;
          a {
            font-size: 11px;
            margin: 10px 10px;
            font-weight: bold;
          }
        }
      }
      .market {
        margin-top: 1rem;
        font-weight: 600;
        font-size: 12px;
        color: #565555;
        opacity: 1;
      }
      .categories {
        margin-top: 1.5rem;
      }
      .text {
        margin-top: 1rem;
        display: grid;
        .title {
          color: #565555;
          font-size: 18px;
          text-align: left;
        }
        .description {
          margin-top: 1rem;
          color: #565555;
          font-size: 14px;
          text-align: left;
        }
      }
      .read-more-less {
        ion-button {
          --background: none;
          --background-color: none;
          --background-hover: none;
          --box-shadow: none;
          color: #f6a117;
          font-size: 12px;
          text-transform: none;
        }
      }
    }
  }
}

.masonry {
  /* Masonry container */
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 2;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  margin: 1.5em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: 0.85em;
  .post-card {
    display: inline-block;
    background: #fff;
    // padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    -webkit-transition: 1s ease all;
    transition: 1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0 2px 4px #0000001a;
    border-radius: 10px;
    ion-img {
      cursor: pointer;
    }
    video {
      cursor: pointer;
      background: url(http://www.slatecube.com/images/play-btn.png);
    }
    .video-player-button {
      img {
        position: absolute;
        top: 20%;
        max-width: 50px;
        right: 35%;
      }
    }
    .title {
      font-size: 15px;
      padding-left: 0.5rem;
      color: #565555;
      font-family: Open Sans;
      font-weight: normal;
      margin-top: 1rem;
      cursor: pointer;
    }
    .subtitle {
      margin-top: 0.3rem;
      font-size: 15px;
      padding-left: 0.5rem;
      color: #70c1ed;
      font-family: Open Sans;
      font-weight: bold;
      margin-bottom: 0.5rem;
      cursor: pointer;
    }
  }
}

@media (min-width: 1000px) {
  .header-accept {
    position: absolute;
    top: 1rem;
    right: 4rem;
  }
  .back {
    margin-left: 4rem;
  }
  .desktop {
    margin-top: 80px;
    display: grid;
    .card {
      padding: 0.5rem;
      margin-left: 5rem;
      margin-right: 5rem;
      -webkit-transition: 1s ease all;
      transition: 1s ease all;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 2px 6px #00000066;
      border-radius: 20px;
      opacity: 1;
      .cover-image {
        .box {
          height: 240px;
        }
      }
      ion-slides {
        width: 23.52rem;
        height: 28rem;
        max-height: 100%;
        .open-gallery-button {
          position: absolute;
          top: 0;
          left: 0;
          margin-top: 3rem;
          margin-left: 1rem;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          .zoom-icon {
            color: #70c1ed;
          }
        }
        video {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
        img {
          object-fit: cover;
          // height: 100%;
          width: 100%;
          border-radius: 2rem;
        }
      }
      .swiper-pagination {
        position: relative;
        width: auto !important;
        left: auto !important;
        margin: 0;
      }
      .swiper-pagination-bullet {
        margin: 0 4px;
        border-radius: 100%;
        width: auto;
        width: 8px;
        height: 8px;
        display: inline-block;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        opacity: 1;
        background: #565555;
      }
      .swiper-pagination-bullet-active {
        margin: 0 4px;
        border-radius: 100%;
        width: auto;
        width: 8px;
        height: 8px;
        display: inline-block;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        opacity: 1;
        background: #f6a117;
      }
      .document-desktop {
        margin-left: 2rem;
        color: #bbbbbb;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 2rem;
      }
      .attachments {
        margin-left: 2rem;
        margin-top: 1rem;
        color: #f6a117;
        font-size: 16px;
        font-weight: bold;
      }
      .brief-information-div {
        display: flex;
        margin-top: 2rem;
        .brief-information-container {
          display: flex;
          ion-avatar {
            width: 42px;
            height: 42px;
            overflow: hidden;
            img {
              width: 40px;
              height: 40px;
            }
          }
          .brief-information {
            padding-top: 0.4rem;
            padding-left: 0.5rem;
            display: flex;
            .company-name {
              color: #70c1ed;
              font-weight: bold;
              font-size: 17px;
              cursor: pointer;
            }
            .post-datetime {
              color: #56555566;
              font-weight: bold;
              font-size: 13px;
            }
          }
        }
        .boxes {
          display: flex;
          position: absolute;
          left: 0;
          margin-top: 4rem;
          .box-1 {
            background-color: #70c1ed;
            color: white;
            padding: 0em 1em 0.5em;
            a {
              font-size: 12px;
              font-weight: bold;
              margin: 10px 10px;
            }
          }
          .box-2 {
            border: 1px solid #f6a117;
            background-color: white;
            color: #f6a117;
            padding: 0em 3em 0.5em;
            border-radius: 4px;
            margin-top: 0.8rem;
            a {
              font-size: 12px;
              margin: 10px 10px;
              font-weight: bold;
            }
          }
        }
      }
      .market-desktop {
        font-weight: 600;
        font-size: 16px;
        color: #565555;
        opacity: 1;
        margin-top: 4rem;
        margin-bottom: 2.5rem;
      }
      .title {
        margin-top: 7rem;
        font-size: 20px;
        color: #565555;
      }
      .text {
        margin-top: 1rem;
        font-size: 16px;
        color: #565555;
      }
      .read-more-less {
        ion-button {
          --background: none;
          --background-color: none;
          --background-hover: none;
          --box-shadow: none;
          color: #f6a117;
          font-size: 12px;
          text-transform: none;
        }
      }
      .categories-container {
        margin-top: 1rem;
        padding-right: 1rem;
        ion-chip {
          --border-color: #70c1ed;
          margin-right: 0.2rem;
          margin-bottom: 0.2rem;
        }
      }
    }
    .responses {
      margin-left: 3rem;
      .title-response {
        color: #56555566;
        font-size: 24px;
        margin-left: 1rem;
        font-weight: bold;
        text-transform: uppercase;
      }
      .label {
        margin-top: 1.8rem;
        color: #56555566;
        font-size: 16px;
        margin-left: 1rem;
        font-weight: bold;
      }
      .masonry {
        column-count: 4;
        .post-card {
          background: #ffffff 0% 0% no-repeat padding-box;
          box-shadow: 0px 2px 4px #0000001a;
          border-radius: 20px 20px 20px 20px;
          opacity: 1;
          width: 270px;
          border-radius: 10px;
        }
      }
    }
  }
  .mobile {
    display: none;
  }
}

.responses {
  padding: 1.25rem;
  margin-top: 1rem;
  .title-response {
    color: #56555566;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.hidden-gallery {
  position: absolute;
  width: 0;
}
