<ion-content>
  <ion-header class="modal-header">
    <button (click)="cancel()" class="back-button">
      <i class="fas fa-arrow-left"></i>
    </button>
    <p class="modal-title">Create new password</p>
  </ion-header>
  <div class="change-password-form">
    <form [formGroup]="changePasswordForm">
      <ion-list>
        <div class="inputs-div">
          <label class="input-label">Old password</label>
          <mat-form-field>
            <input type="password" matInput formControlName="oldPassword" required />
            <mat-error *ngIf="form.oldPassword.invalid && form.oldPassword.touched">
              <span translate>Old Password is required</span>
            </mat-error>
          </mat-form-field>
          <label class="input-label">New password</label>
          <mat-form-field>
            <input type="password" matInput formControlName="newPassword" required />
            <mat-error *ngIf="form.oldPassword.invalid && form.oldPassword.touched">
              <span translate>New Password is required</span>
            </mat-error>
          </mat-form-field>
          <label class="input-label">Confirm new password</label>
          <mat-form-field>
            <input type="password" matInput formControlName="confirmNewPassword" required />
            <mat-error *ngIf="form.confirmNewPassword.invalid && form.confirmNewPassword.touched">
              <span *ngIf="form.confirmNewPassword.errors?.mustMatch">Passwords must match</span>
            </mat-error>
          </mat-form-field>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>
<ion-footer class="modal-footer">
  <div class="buttons-div">
    <ion-button shape="round" fill="outline" class="cancel-button" (click)="cancel()">
      Cancel
    </ion-button>
    <ion-button
      shape="round"
      class="save-button"
      type="submit"
      [ngStyle]="{ opacity: changePasswordForm.invalid ? '0.6' : '1' }"
      (click)="submit()"
    >
      Save
    </ion-button>
  </div>
</ion-footer>
