ion-content {
  .modal-header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    box-shadow: 0px 3px 10px #00000029;
    .back-button {
      background: inherit;
      cursor: pointer;
      color: #f6a117;
      font-size: 16px;
      margin-right: 5px;
    }
    .modal-title {
      color: #565555;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 16px;
    }
  }
  .change-password-form {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 30px;
    ion-list {
      padding: 0;
      .inputs-div {
        width: 228px;
        margin-left: auto;
        margin-right: auto;
        .input-label {
          width: 228px;
          font-size: 13px;
          margin-top: 20px;
          color: #565555;
        }
        mat-form-field {
          width: 228px;
        }
      }
    }
  }
}
.modal-footer {
  height: 64px;
  box-shadow: 0 0 3px 3px #00000010;
  display: table;
  padding-top: 5px;
  border-top: 0;
  .footer-md::before {
    display: none;
  }
  .buttons-div {
    display: inline-flex;
    width: fit-content;
    width: 100%;
    .cancel-button {
      display: table-cell;
      vertical-align: middle;
      margin-left: auto;
      margin-right: 8px;
      width: 98px;
      text-transform: capitalize;
      --border-width: 1px;
      --color: #70c1ed;
      --background-hover: #70c1ed0a;
      --border-color: #70c1ed;
    }
    .save-button {
      display: table-cell;
      vertical-align: middle;
      margin-left: 8px;
      margin-right: auto;
      width: 98px;
      text-transform: capitalize;
      --box-shadow: none;
      --background: #70c1ed;
      --background-hover: #70c1edad;
    }
  }
}
