<ion-content>
  <div *ngIf="!complete">
    <ion-row>
      <ion-col>
        <div class="header">
          <i class="sad-icon far fa-frown popover-icon"></i>
          <div class="title">
            <ion-label
              >Are you sure you don't have <br />
              a contact info?</ion-label
            >
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="subtitle">
          <span>This would be useful to integrate the referred solver more quickly!</span>
        </div>
      </ion-col>
    </ion-row>
    <div class="actions col text-center">
      <div style="margin-left: auto; margin-right: auto;">
        <ion-button
          shape="round"
          fill="outline"
          style="color: #70C1ED;
        margin-right: 0.5rem;
        text-transform: none;
        width: 100px;
        --border-color: #70C1ED;
        --border-width: 1px"
          (click)="yes()"
          [translate]="'global.actions.yes'"
        >
          Yes
        </ion-button>
        <ion-button
          shape="round"
          style="--background: #F6A117;
                    color: white;
                    text-transform: none;
                    width: 100px;
                    --box-shadow: none;"
          (click)="no()"
          [translate]="'global.actions.no'"
        >
          No
        </ion-button>
      </div>
    </div>
  </div>
  <div *ngIf="complete">
    <ion-row>
      <ion-col>
        <div class="header">
          <i class="far fa-smile-wink popover-icon"></i>
          <div class="title">
            <ion-label>Thank you!</ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="subtitle">
          <span>You will see this partner included on your solvers lists as soon as possible</span>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
