<ion-content>
  <div class="page-header" *ngIf="!isLoading">
    <div class="header-title">
      <span [translate]="'addNew.post.terms'"></span>
    </div>
    <!-- <div class="header-information">
      <span [translate]="'addNew.post.draftSaved'"></span>
    </div> -->
  </div>
  <div class="terms-conditions-container">
    <h5 class="terms-conditions-text">
      {{ termsAndConditions }}
    </h5>
    <div class="agree-container">
      <ion-checkbox
        id="add-response-terms"
        [(ngModel)]="accepted"
        class="agree-checkbox"
        (ionChange)="toggleAccept()"
      ></ion-checkbox>
      <span class="terms-conditions-text" style="margin-left: 0.5rem;" [translate]="'addNew.post.iAgree'"> </span>
    </div>
  </div>
</ion-content>
<div class="footer-container">
  <div class="buttons-container">
    <ion-button
      id="add-response-terms-back"
      class="footer-button"
      color="secondary"
      fill="outline"
      (click)="back()"
      [translate]="'global.actions.back'"
    >
    </ion-button>
    <ion-button
      id="add-response-terms-preview"
      class="footer-button"
      color="primary"
      (click)="preview()"
      disabled="{{ !accepted }}"
      [translate]="'addNew.post.preview'"
    >
    </ion-button>
  </div>
</div>
