<div class="modal-webinar-submit">
  <div class="request">
    <i class="bi bi-clock-history"></i>
    <p>Your webinar request will be submited to approval.</p>
    <p>You'll be notified of our answer in up to 2 business days</p>
    <p>
      Note: After the webinar gets approved, you will not be able to edit it unless you contact our
      <a href="mailto:support@growinco.com">support team</a>
    </p>
    <div class="footer">
      <button class="cancel" (click)="modalController.dismiss()">Cancel</button>
      <button class="confirm" (click)="submit()">Confirm</button>
    </div>
  </div>
</div>
