<div class="modal">
  <div class="modal-container">
    <div class="panel-header">
      <div class="title">
        <span>Choose You Category Organization</span>
      </div>
    </div>
    <div class="panel-body">
      <div
        style="
              margin-top: 1rem;
              padding-left: 1.5rem;
              padding-right: 1.5rem;"
      >
        <form [formGroup]="responseInfoForm" novalidate>
          <ion-list>
            <label class="input-label">Bunisess Unit</label>
            <mat-form-field [hideRequiredMarker]="true" style="padding-bottom: 1rem;">
              <input id="admin-unit-name" type="text" matInput formControlName="name" required />
              <mat-error *ngIf="responseInfoForm.controls.name.invalid && responseInfoForm.controls.name.touched">
                <div style="text-align: center;">
                  <span [translate]="'briefs.respond.nameRequired'"></span>
                </div>
              </mat-error>
            </mat-form-field>

            <label class="input-label">Countries</label>
            <mat-form-field [hideRequiredMarker]="true" style="padding-bottom: 1rem;">
              <mat-select id="admin-unit-countries" multiple formControlName="countries">
                <mat-option *ngFor="let countries of countriesSI" [value]="countries._id">
                  {{ countries.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <label class="input-label">Company</label>
            <mat-form-field [hideRequiredMarker]="true" style="padding-bottom: 1rem;">
              <mat-select id="admin-unit-company" formControlName="company" (selectionChange)="getOrganization($event)">
                <mat-option *ngFor="let company of companySI" [value]="company._id">
                  {{ company.companyName }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <label class="input-label">Organization</label>
            <mat-form-field [hideRequiredMarker]="true" style="padding-bottom: 1rem;">
              <input id="admin-unit-organization" type="text" matInput formControlName="organization" required />
              <mat-error *ngIf="responseInfoForm.controls.name.invalid && responseInfoForm.controls.name.touched">
                <div style="text-align: center;">
                  <span [translate]="'briefs.respond.nameRequired'"></span>
                </div>
              </mat-error>
            </mat-form-field>
          </ion-list>
        </form>
      </div>

      <div class="footer-container">
        <div class="actions-container">
          <div class="cancel-button-container">
            <ion-button id="admin-unit-cancel" shape="round" fill="outline" (click)="cancel()" translate
              >Cancel</ion-button
            >
          </div>
          <div class="save-button-container">
            <ion-button
              id="admin-unit-save"
              color="primary"
              (click)="submit()"
              translate
              [disabled]="responseInfoForm.controls.name.invalid"
              >Save</ion-button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
