@import "~bootstrap-icons/font/bootstrap-icons.css";

.mat-calendar {
  font-family: var(--ion-font-family);
  .mat-calendar-header {
    color: var(--ion-color-primary);
  }
  .mat-calendar-next-button,
  .mat-calendar-previous-button {
    color: var(--ion-color-primary) !important;
  }
  .mat-calendar-body {
    position: relative;
    top: -0.5rem;
    .mat-calendar-body-cell-content {
      color: var(--ion-color-secondary) !important;
    }
    .mat-calendar-body-label {
      font-size: 0px;
    }
  }
  .mat-calendar-body-selected {
    background-color: #f6a117 !important;
    font-weight: bold;
  }
  .mat-calendar-body-disabled
    > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    color: rgba(0, 0, 0, 0.18) !important;
  }
}

.markets-search-div {
  width: 82.5%;
  margin-right: auto;
  margin-left: auto;
  .mat-select-search {
    margin-top: 12px;
    margin-bottom: 10px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #e0e0e0;
    width: 100%;
    height: 40px;
    text-indent: 15px;
  }
  .search-icon {
    position: absolute;
    top: 21.65px;
    right: 16.32%;
    font-size: 17px;
    color: #565555;
    opacity: 0.5;
  }
  ::placeholder {
    color: #e0e0e0;
  }
}

.briefs-page {
  background: #f6f6f6;
  height: 100%;
  padding: 0px;
  font-family: "Open Sans";
  button:focus,
  input:focus {
    outline: none;
  }
  .tutorial {
    position: relative;
    z-index: 100000;
    &.desktop {
      @media (max-width: 767px) {
        display: none;
      }
    }
    &.mobile {
      @media (min-width: 768px) {
        display: none;
      }
    }
    &.large {
      @media (max-width: 1199px) {
        display: none;
      }
    }
    &.medium {
      @media (min-width: 1200px) {
        display: none;
      }
    }
  }
  .margin-incompleted-profile {
    margin-top: 12rem;
  }
  .container {
    max-width: 100%;
    position: relative;

    .options-mobile {
      display: none;
    }

    .main-section {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;
      padding-bottom: 65px;
      // height: calc(100% - 65px);
      margin-top: -3px;
      .brief-sort-by {
        display: none;
      }
      .fast-access {
        color: #565555;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 0.7rem;
      }
      .main-loop {
        .search-title {
          color: #565555;
          font-size: 18px;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
      .no-results {
        font-size: 16px;
        text-align: center;
        display: flex;
        justify-content: center;
        border-top: 1px solid #c3c3c3;
        margin-top: 3.05rem;
        .briefs-container-no-results {
          margin-top: 3rem;
          width: 474px;
          display: grid;
          justify-items: center;
          img {
            margin-bottom: 2rem;
          }
          button {
            background: inherit;
            cursor: pointer;
            color: #70c1ed;
            margin-left: auto;
            text-decoration: underline;
          }
          span {
            color: #a0a0a0;
          }
        }
      }
      .categories-filter {
        z-index: 9;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #f6f6f6;
        border-bottom: 1px solid #c3c3c3;
        padding: 7px 0px;
        margin-left: -10px;
        margin-right: -5px;
        .briefs-slider {
          height: auto !important;
        }
        .swiper-slide {
          width: auto !important;
        }
        .swiper-wrapper {
          // justify-content: center;
        }
        i {
          color: #565555;
          font-size: 10px;
          opacity: 0.5;
        }
        ion-chip {
          height: 26px;
          border-radius: 42px;
          ion-label {
            width: auto;
            margin-left: auto;
            margin-right: auto;
          }
        }
        .ion-chip-selected {
          background-color: #f6a117;
          color: white;
        }
        .brief-categories-prev {
          position: absolute;
          z-index: 99;
          background: linear-gradient(to left, rgba(246, 246, 246, 0.808), rgb(246, 246, 246));
          height: 35px;
          padding-right: 1.3rem;
        }
        .brief-categories-next {
          position: absolute;
          z-index: 30;
          right: -6px;
          background: linear-gradient(to right, rgba(246, 246, 246, 0.808), rgb(246, 246, 246));
          height: 35px;
          padding-left: 1.3rem;
        }
      }
    }
    .view-and-add {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      .view {
        margin-top: -8px;
        button {
          background-color: #f6f6f6;
          color: inherit;
          font-size: 14px;
          padding: 0;
        }
        i {
          position: relative;
          font-size: 28px;
          top: 5px;
          color: #a0a0a0;
        }
        span {
          margin-left: 2px;
          color: #565555;
        }
      }
      .add {
        display: flex;
        .add-brief {
          button {
            color: white;
            background: #f6a117;
            text-transform: capitalize;
            width: 180px;
            height: 40px;
            border-radius: 23px;
            font-size: 14px;
          }
        }
        .tutorial-reset {
          button {
            position: relative;
            top: 0.5rem;
            color: #cecece;
            background: inherit;
          }
        }
      }
    }
    .search-container {
      position: relative;
      input {
        width: 100%;
        height: 40px;
        border-radius: 30px;
        border: 1px solid #e0e0e0;
        padding: 0px 20px;
        color: #565555;
        font-size: 13px;
      }
      ::placeholder {
        color: #cecece;
        opacity: 1;
      }
      .search-icon {
        position: absolute;
        top: 10px;
        right: 30px;
        color: #c3c3c3;
      }
    }

    .briefs-body-row {
      height: 100%;
      ::-webkit-scrollbar {
        //chrome, safari, opera
        display: none;
      }
      .filter-section {
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100% - 65px);
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        *:focus {
          outline: none;
        }
        .mat-checkbox {
          font-family: "Open Sans", sans-serif;
          .mat-checkbox-frame {
            border-color: #dededf !important;
            border-width: 1px !important;
          }
          .mat-checkbox-inner-container {
            height: 20px;
            width: 20px;
          }
          &.checked {
            .mat-checkbox-background {
              background-color: #70c1ed;
            }
          }
          label {
            margin: 0;
          }
        }
        .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
        .mat-checkbox-checked.mat-accent .mat-checkbox-background {
          background-color: #70c1ed;
        }
        .apply-button {
          position: sticky;
          bottom: 0px;
          background: transparent;
          padding: 10px 0px;
          width: 100%;
          z-index: 10;
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            height: 38px;
            width: 100%;
            color: #fff;
            background: #70c1ed;
            border-radius: 50px;
            box-shadow: 0px 3px 6px #00000029;
          }
        }
        .header-filter {
          z-index: 9;
          position: sticky;
          top: 0px;
          display: flex;
          width: 105%;
          border-bottom: 1px solid #c3c3c3;
          background: #f6f6f6;
          padding: 9px 0px;
          color: #565555;
          .filter-title {
            font-size: 18px;
            font-weight: bold;
          }
          .clear-all {
            cursor: pointer;
            color: #70c1ed;
            font-size: 13px;
            margin-left: auto;
            margin-right: 3%;
            text-decoration: underline;
          }
        }

        .filter-area {
          margin-top: 1rem;
          color: #565555;
          font-size: 14px;
          .nda-selected {
            font-weight: bold;
          }
          .nda-line {
            border-top: 1px solid #c3c3c3;
            width: 105%;
          }
          .mat-form-field-infix {
            background-color: #ffffff;
            height: 40px;
            font-size: 13px;
            display: flex;
            align-items: center;
            justify-content: center;
            .mat-select-value {
              color: #565555;
              font-size: 13px;
            }
          }
          .mat-form-field-appearance-legacy .mat-form-field-label {
            color: #cecece !important;
            margin-left: 0.5rem;
          }
          .mat-form-field {
            .mat-error {
              text-align: center;
            }
            .mat-input-element {
              caret-color: #565555 !important;
            }
          }
          .companies-field,
          .categories-field {
            button {
              font-size: 14px;
              font-family: "Open sans", sans-serif;
              font-weight: bold;
              color: #a0a0a0;
              display: flex;
              align-items: baseline;
              i {
                margin-right: 5px;
              }
            }
          }
          &.markets {
            .mat-form-field {
              width: 100%;
              .mat-select-arrow {
                opacity: 0.5;
                display: inline-block !important;
                border-right: 2px solid #565555 !important;
                border-bottom: 2px solid #565555 !important;
                width: 7px !important;
                height: 7px !important;
                transform: rotate(-315deg) !important;
                border-left: none !important;
                border-top: none !important;
                margin: 0 9px !important;
                position: relative;
                right: 0.4rem;
                padding-right: 0% !important;
              }
            }
            .mat-form-field-label-wrapper {
              height: 0 !important;
              width: 0 !important;
            }
            .mat-form-field-hide-placeholder .mat-select-placeholder {
              color: #cecece !important;
              -webkit-text-fill-color: #cecece !important;
              transition: none;
              display: block;
            }
          }
          .filter-area-title {
            font-weight: bold;
            margin-bottom: 5px;
          }
          button {
            background: inherit;
          }
          .my-briefs {
            display: flex;
            .my-briefs-toggle {
              margin-top: 4px;
            }
            .my-briefs-title {
              margin-left: 6px;
              .selected {
                font-weight: bold;
              }
            }
            ion-toggle {
              --background: #dededf;
              --background-checked: #70c1ed;
              --handle-background: #ffffff;
              --handle-background-checked: #ffffff;
              zoom: 0.6;
            }
          }
          .sent-brief-all {
            margin-top: 1.2rem;
            display: flex;
            flex-direction: column;
            button {
              text-align: left;
              padding: 0px;
              color: #565555;
              i {
                font-size: 20px;
                color: #dededf;
              }
            }
            .mat-checkbox {
              font-family: "Open Sans", sans-serif;
              .mat-checkbox-frame,
              .mat-checkbox-background {
                border-color: #dededf !important;
                border-width: 1px !important;
                border-radius: 50%;
              }
              .mat-checkbox-inner-container {
                border-radius: 50%;
              }
              label {
                margin: 0;
              }
              &.selected {
                font-weight: bold;
                pointer-events: none;
              }
            }
            .mat-checkbox-checked.mat-accent .mat-checkbox-background {
              background-color: #70c1ed !important;
              margin: 4px;
            }
            .mat-checkbox-checkmark-path {
              stroke: #70c1ed !important;
            }
          }
          .text {
            font-size: 14px;
          }
          .calendar-filter {
            display: flex;
            width: 100%;
            .date-fields {
              width: 48%;
              .mat-icon-button i,
              .mat-icon-button .mat-icon {
                line-height: 16px !important;
              }
              i {
                color: #565555;
                opacity: 0.5;
                font-size: 11px;
              }
            }
            .date-field-error {
              .mat-form-field-infix {
                border-color: #f59490 !important;
                border-width: 1px;
              }
            }
            .mat-form-field-label-wrapper {
              top: -15%;
            }
            .calendar-icon {
              margin-left: -2rem;
            }
          }
        }
      }
    }

    @media (max-width: 767px) {
      .fast-access,
      .view-and-add {
        display: none;
      }

      .options-mobile {
        display: block;
        position: absolute;
        bottom: 1rem;
        right: 20px;
        z-index: 50;
        .options {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .info-options-filter,
          .info-options-add {
            background-color: #ffffff;
            opacity: 0.8;
            box-shadow: 0px 3px 10px #00000029;
            border-radius: 3px;
            opacity: 0.8;
            position: absolute;
            right: 60px;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .info-options-filter {
            width: 73px;
            top: 3px;
          }
          .info-options-add {
            width: 63px;
            top: 54px;
          }
          span {
            color: #565555;
            font-size: 10px;
            padding: 0.5rem;
          }
        }
        button {
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          &:focus {
            outline: none;
          }
          &.open-options {
            height: 45px;
            width: 45px;
            background: #f6a117;
            border-radius: 50px;
            box-shadow: 0px 3px 6px #00000029;
          }
          &.open-filter,
          &.add-briefs {
            margin-bottom: 15px;
            height: 35px;
            width: 35px;
            background: #70c1ed;
            border-radius: 50px;
            box-shadow: 0px 3px 6px #00000029;
          }
        }
      }
      .main-section {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        height: 100%;
        ::-webkit-scrollbar {
          /*Chrome, Safari and Opera*/
          display: none;
        }
        .categories-filter {
          border-bottom: 0px;
        }
        .brief-sort-by {
          position: -webkit-sticky;
          position: sticky;
          margin-left: -10px;
          z-index: 4;
          background-color: #f6f6f6;
          display: flex;
          justify-content: space-between;
          color: #565555;
          text-align: left;
          font-size: 14px;
          margin-top: 20px;
          margin-right: -5px;
          .sort-selected {
            cursor: pointer;
            margin-left: 5px;
            margin-top: 3px;
          }
          .brief-sort-card {
            position: absolute;
            width: 219px;
            height: 225px;
            background: #ffffff 0% 0% no-repeat padding-box;
            box-shadow: 0px 1px 6px #00000029;
            padding: 13px 13px 13px 13px;
            color: #565555;
            font-size: 13px;
            z-index: 3;
            span {
              display: block;
            }
            .title-info {
              font-weight: bold;
              margin-bottom: 16px;
            }
            .option-info {
              margin-top: 10px;
              cursor: pointer;
            }
          }
          .switch-view-tutorial-reset {
            display: flex;
            .tutorial-reset {
              button {
                font-size: 18px;
                position: relative;
                top: 0.1rem;
                color: #cecece;
                background: inherit;
              }
            }
            .switch-view {
              button {
                background: none;
                color: #a0a0a0;
                margin-top: -3px;
                margin-right: -7px;
              }
              i {
                font-size: 24px;
              }
            }
          }
        }
      }
      .filter-backdrop {
        background: black;
        opacity: 0.4;
        z-index: 40;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        right: 0px;
        left: 0px;
      }

      .filter-section {
        display: none;
        position: absolute;
        left: 0px;
        top: 0px;
        overflow-y: scroll;
        overflow-x: hidden;
        .header-filter {
          background: #ffffff !important;
        }
        &.open-filter {
          display: block;
          background: #ffffff;
          box-shadow: 0px 1px 6px #00000029;
          z-index: 100;
          height: 100%;
          animation: left-to-right 0.5s ease-in-out forwards;
        }
        @keyframes left-to-right {
          0% {
            transform: translateX(-100%);
          }
          100% {
            transform: translateX(0%);
          }
        }
      }
    }
  }
}
.markets-panel-class {
  margin-top: 27.8px !important;
  margin-left: 12px !important;
  min-width: calc(100% - 20px) !important;
  max-width: 80px !important;
  .mat-pseudo-checkbox {
    border: 1px solid #dededf !important;
  }
  .mat-option-text {
    color: #565555;
    white-space: normal;
    font-size: 13px;
  }
}
.mat-primary .mat-pseudo-checkbox-checked {
  background: #70c1ed !important;
  border: 2px solid transparent !important;
}
.cdk-overlay-pane {
  transform: translateX(0px) !important;
}
