.main-pass-strength {
  color: #565555;
  font-size: 12px;
  .strength {
    font-weight: bold;
  }
  .strength-bar {
    margin: 0;
    padding: 0;
    vertical-align: 2px;
  }
  .mat-progress-bar {
    height: 8px;
    box-shadow: inset 2px 2px 3px #00000029;
    border: 1px solid #dededf;
    border-radius: 5px;
  }
  .mat-progress-bar-buffer {
    background-color: white;
    box-shadow: inset 2px 2px 3px #00000029;
  }
  .mat-progress-bar.mat-warn .mat-progress-bar-buffer {
    background-color: white !important;
  }
  .mat-progress-bar.mat-accent .mat-progress-bar-buffer {
    background-color: white !important;
  }
  .mat-progress-bar.mat-warn .mat-progress-bar-fill::after {
    background-color: #e11919;
  }
  .mat-progress-bar.mat-accent .mat-progress-bar-fill::after {
    background-color: #f6a117;
  }
  .mat-progress-bar-fill::after {
    background-color: #64b34c;
  }
}
