<ion-content #contentArea>
  <div class="title">
    <span class="text-uppercase">Segments</span>
  </div>
  <ion-grid class="gridFix">
    <div class="actions-div">
      <ion-button id="admin-segments-add" fill="clear" color="dark" class="add-button" (click)="addSegment()">
        <i class="fas fa-plus"></i>
      </ion-button>
      <ion-button
        id="admin-segments-refresh"
        fill="clear"
        color="dark"
        class="refresh-button"
        (click)="refreshCompanies()"
      >
        <i class="fas fa-redo-alt"></i>
      </ion-button>
    </div>
    <!--Mobile-->
    <ng-container *ngIf="isApp">
      <button class="tooltip-segments" (click)="toggleTooltipInfo()">
        <i class="fas fa-info-circle"></i>
      </button>
      <div class="col-10 col-md-8 d-flex">
        <p *ngIf="showTooltipInfo" class="tooltip-text">
          Segments Page allows you to create, edit and delete segments.
        </p>
      </div>
    </ng-container>
    <ion-searchbar
      id="admin-segments-searchbar"
      animated
      (keyup.enter)="applyFilter($event.target.value)"
      (ionClear)="applyFilter(null)"
      style="--background: white;"
    >
    </ion-searchbar>
  </ion-grid>

  <!--Desktop-->
  <ng-container *ngIf="!isApp">
    <button class="tooltip-segments" (click)="toggleTooltipInfo()">
      <i class="fas fa-info-circle"></i>
    </button>
    <div class="col-10 col-md-8 d-flex">
      <p *ngIf="showTooltipInfo" class="tooltip-text">
        Segments Page allows you to create, edit and delete segments.
      </p>
    </div>
  </ng-container>

  <div *ngIf="skeletonLoading">
    <app-skeleton [skeleton]="'categories'"></app-skeleton>
  </div>

  <div *ngIf="!skeletonLoading" class="container-categories">
    <ion-grid class="display-list gridFix">
      <ion-row>
        <div *ngFor="let item of segmentData.filteredData; let i = index">
          <ion-col>
            <a>
              <ion-item id="admin-segments-edit" class="table-item" (click)="itemClick(item)">
                <ion-label>
                  <h5 class="title">{{ item.name }}</h5>
                </ion-label>
                <i
                  id="admin-segments-delete"
                  *ngIf="!item.delete"
                  class="fas fa-trash delete-button"
                  (click)="delete(item); $event.stopPropagation()"
                ></i>
                <i
                  id="admin-segments-delete"
                  *ngIf="item.delete"
                  class="fas fa-check delete-button"
                  (click)="enable(item); $event.stopPropagation()"
                ></i>
              </ion-item>
            </a>
          </ion-col>
        </div>
      </ion-row>
    </ion-grid>
  </div>
  <!-- <div *ngIf="skeletonLoading">
    <app-skeleton [skeleton]="'companies'"></app-skeleton>
  </div>
  <ion-grid class="display-list gridFix" *ngIf="!skeletonLoading">
    <ion-row>
      <div *ngFor="let item of segmentData.filteredData; let i = index">
        <ion-card class="companies-container">
          <a>
            <ion-item class="table-item" (click)="itemClick(item)">
              <ion-label>
                <h5 class="title">{{ item.name }}</h5>
              </ion-label>
              <i
                *ngIf="!item.delete"
                class="fas fa-trash delete-button"
                (click)="delete(item); $event.stopPropagation()"
              ></i>
              <i
                *ngIf="item.delete"
                class="fas fa-check delete-button"
                (click)="enable(item); $event.stopPropagation()"
              ></i>
            </ion-item>
          </a>
        </ion-card>
      </div>
    </ion-row>
  </ion-grid> -->

  <!-- BUTTON -->
  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed">
    <ion-fab-button id="admin-segments-add" shape="round" color="success" fill="solid" (click)="addSegment()">
      <i class="fas fa-plus"></i>
    </ion-fab-button>
  </ion-fab>
  <ion-infinite-scroll threshold="40%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText=""> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
