<div class="modal">
  <div
    [ngClass]="{ 'modal-feed-filter': type === 'feed-filter' }"
    *ngIf="type !== undefined && type !== null"
    text-center
  >
    <div class="loading-container" *ngIf="isLoading">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
    <div class="modal-container-location" *ngIf="!isLoading">
      <div class="panel-header">
        <div class="back-icon">
          <i id="filter-by-back" class="fas fa-arrow-left" (click)="dismiss()"></i>
        </div>
        <div class="title">
          <span [translate]="'global.actions.filterFeed'">Filter by</span>
        </div>
      </div>
      <ion-button id="filter-by-clear-all" (click)="clearAll()" class="ion-text-center clear-all">Clear All</ion-button>
      <div class="panel-body">
        <div class="feed-filter-form-container" *ngIf="type === 'feed-filter'">
          <form (ngSubmit)="save()" [formGroup]="feedFilterForm" novalidate>
            <ion-list *ngIf="user && user.Global">
              <!-- <ion-searchbar animated (keyup)="applyFilter($event.target.value)" (ionClear)="applyFilter(null)">
              </ion-searchbar> -->
              <div class="panel-container">
                <div class="region-container" *ngFor="let company of companies; let index = index">
                  <div class="company-name">
                    <ion-chip
                      id="filter-by-company"
                      outline
                      color="secondary"
                      [ngClass]="{
                        'chip-selected': company.selected === true,
                        'category-tag': company.selected === false
                      }"
                      style="border-radius: 50px"
                      (click)="changeSelectionRegion(company, index)"
                    >
                      <ion-label>{{ company.companyName }}</ion-label>
                    </ion-chip>
                  </div>
                </div>
              </div>
            </ion-list>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-container" *ngIf="!isLoading">
      <ion-row>
        <div class="action col text-center">
          <ion-button
            id="filter-by-cancel"
            shape="round"
            fill="outline"
            color="secondary"
            (click)="cancel()"
            [translate]="'global.actions.cancel'"
            >Cancel</ion-button
          >
          <ion-button id="filter-by-save" color="primary" (click)="save()" [translate]="'global.actions.save'"
            >Save</ion-button
          >
        </div>
      </ion-row>
    </div>
  </div>
</div>
